// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// font-weight 300,400,800

colorYellow = #FCDA00
colorBlack = #1D1D1C
colorLBlack = #4B4B4B
colorLGray = #F5F5F5
colorRed = #DD2A1B
colorGreen = #35AA00

atime = 160

shadowHover = 0 0 30px 0 alpha(black, 35%)
shadowDefault = 0 3px 6px 0 alpha(black, 25%)

btnHover(bg, tc=false)
  tc = colorBlack unless tc
  &:hover, &:focus
    background bg
    box-shadow shadowHover
    color tc
    appearance none
    text-decoration none
    outline none
  &:active
    background bg
    box-shadow none
    color tc
    appearance none
    text-decoration none
    outline none


body
  font-size 12px
  font-family 'Montserrat', sans-serif;
  font-weight 400
  color colorBlack
  line-height 1.3

p
  mpd(0 0 15px)
  font-size 1em
  // background gray

a
  transAll(atime)
  &:hover, &:focus, &:active
    appearance none
    text-decoration none
    outline none


.ln
  &-black
    resetLn(colorLBlack, colorLBlack)
  &-white
    resetLn(white, darken(white, 10%))
  &-red
    resetLn(colorRed, darken(colorRed, 20%))


.section
  mpd(0, 30px 0)
  overflow-x hidden
  // &:nth-child(even)
  //   background green

// .container
//   background red

.header
  mpd(0, 15px 0 1px)
  position relative
  box-shadow 0 0 10px 0 alpha(black, 15%)
  z-index 5


.title
  mpd(0 0 15px)
  font-size 2.2em
  font-weight 700
  line-height 1.2
  &-desc
    mpd(0 0 15px)
    line-height 1.2
    font-size 1.2em
    font-weight 400

.footer
  mpd(0, 40px 0)
  background #111111
  color #9A9A9A

.bg
  background-color colorYellow
  background-repeat no-repeat
  background-size cover
  background-position 50% 50%
  // &-1
  //   background-image url('../img/bg-1.png')


.btn
  mpd(0 0 15px, 13px 20px)
  position relative
  box-sizing border-box
  width 100%
  background transparent
  border-radius 2.5em
  line-height 1
  font-size 1em
  font-weight 400
  color colorBlack
  text-align center
  cursor pointer
  border none
  text-decoration none
  outline none
  appearance none
  user-select none
  transAll(atime)
  &-yell
    background colorYellow
    btnHover(colorYellow)
  &-bars
    padding 2px 5px
    border-radius 0
    font-size 28px
    &:hover, &:focus
      color colorBlack
      text-decoration none
      outline none
    &:active
      color colorBlack
      text-decoration none
      outline none
  &-red
    background colorRed
    btnHover(colorRed, white)
    color white
  &-items
    mpd(0, 0.5em 0.5em 0)
    box-sizing border-box
    position absolute
    top -0.8em
    right 0
    min-width 1.8em
    height 1.8em
    background colorRed
    border-radius 1em
    color white
    font-weight 400
    font-size 0.9em
    line-height 1
    text-align center


.form
  mpd(0 0 15px)
  &-input
    mpd(0 0 15px, 12px 20px)
    box-sizing border-box
    width 100%
    height 45px
    font-size 1.2em
    font-weight 400
    line-height 1
    border 1px solid lighten(gray, 60%)
    border-radius 2.5em
    background white
    appearance none
    outline none
    &.has-error
      border 1px solid colorRed
  &-btn
    mpd(0 0 15px, 0 20px)
    width 100%
    height 45px
    font-size 1.3em
  &-loader
    mpd(0 auto)
    height 14px


.popup
  &-400
    width 100%
    max-width 400px



.popup
  &-cart
    width 100%
    max-width 500px
    padding 10px 10px 0
    margin 0
    &-item
      mpd(0 0 10px, 10px 0)
      border-bottom 1px solid lighten(gray, 50%)
      &:last-child
        border-bottom none



.popup-menu
  width 100%
  height 100%
  &-close
    mpd()
    color colorBlack
    font-size 2.3em
    float right
    border none
    background transparent
    appearance none
    outline none
  &-item
    mpd(0 0 15px)
    resetLn(colorBlack, lighten(colorBlack, 30%))
    font-weight 700
    font-size 2.8em
    line-height 1.1
  .fancybox
    &-bg
      background colorYellow
      opacity 1
    &-slide
      padding 0
    &-content
      margin 0
      padding 15px
      width 100%
      height 100%
      background transparent


.logo
  mpd(0 0 15px)
  &-img
    mpd()
    max-width 100%
    height auto


.nav
  mpd()
  &-ln
    mpd(0, 15px 0)
    resetLn(#6F6F6F, colorBlack)
    border-bottom 4px solid transparent
    font-weight 700
    font-size 0.9em
    text-transform uppercase
    transAll(atime)
    &:hover, &:focus, &:active
      border-color colorYellow


.fnav
  mpd(0 0 15px)
  &-title
    mpd(0 0 5px)
    font-size 0.9em
    color white
  &-ln
    mpd(0 0 5px)
    resetLn(#9A9A9A, white)


.iicon
  mpd(0 auto 15px)
  max-width 100%
  height auto

.cnum
  mpd(0 15px 0 0, 0, flex)
  flex-grow 0
  flex-shrink 0
  flex-basis auto
  align-items center
  justify-content center
  width 34px
  height 34px
  // border 2px solid #F77301
  background colorYellow
  border-radius 50%
  font-size 20px
  color colorBlack
  font-weight 600
  // color #F77301
  line-height 1


.slider
  mpd(0 0 15px)


.imgcart
  mpd(15px 0)
  background-color #F5F5F5
  box-shadow 0 3px 10px 0 alpha(black, 23%)
  overflow hidden
  transAll(atime)
  &:hover
    box-shadow shadowHover
  &-img
    mpd(0 auto)
    max-width 100%



.txtcus
  mpd(0 0 15px, 0, flex)
  align-items center
  justify-content center
  line-height 1
  &-a
    mpd(0 5px 0 0)
    font-weight 800
    font-size 3.4em
    color colorYellow
  &-b
    mpd()
    font-weight 700
    color colorYellow
    font-size 1.2em
  &-c
    mpd()
    font-weight 400
    font-size 0.9em


.side
  &-title
    mpd(0, 10px 0)
    background colorYellow
    text-align center
    font-weight 600
    font-size 0.9em
  &-nav
    mpd(0 0 15px)
    background white
  &-ln
    mpd(0, 10px, flex)
    align-items center
    appearance none
    text-decoration none
    outline none
    color colorLBlack
    font-size 0.9em
    border-bottom 1px solid darken(colorLGray, 7%)
    border-left 1px solid darken(colorLGray, 7%)
    border-right 1px solid darken(colorLGray, 7%)
    &:hover, &:focus, &:active, &.active
      appearance none
      text-decoration none
      outline none
      background darken(colorLGray, 2%)
      color colorLBlack
  &-icon
    mpd(0 10px 0 0)
    flex-grow 0
    flex-shrink 0
    flex-basis auto
    color lighten(red, 45%)


.cart
  mpd(15px 0, 10px)
  background-color white
  box-shadow shadowDefault
  overflow hidden
  transAll(atime)
  &:hover
    box-shadow shadowHover
  &-img
    mpd(0 auto 15px)
    max-width 100%
  &-title
    mpd(0 0 15px, 0 15px)
    text-align center
    font-size 1em
    font-weight 700
  &-desc
    mpd(0 0 15px)
    font-weight 500
    font-size 0.8em
    color colorLBlack
  &-price
    mpd(0 0 15px)
    font-weight 700
    font-size 2em
    text-align center
  // &-rub
  //   font-size 0.9em


.cart
  &-detail
    max-width 1200px


.cart-fixed
  mpd(0, 13px 35px)
  position fixed
  top -150px
  right 0px
  background colorRed
  opacity 0
  z-index 10
  box-shadow 0 0 15px 0 alpha(black, 80%)
  border-radius 0 0 0 4em
  transAll(atime)
  .btn-items
    position static
    display inline-block
    background colorYellow
    color black
  &.active
    display block
    top 0px
    opacity 1


.select
  mpd(0 0 15px, 0, flex)
  justify-content space-between
  &-item
    mpd(0 1px, 5px)
    flex-grow 1
    background colorYellow
    font-weight 500
    width 11%
    text-align center
    user-select none
    cursor pointer
    transAll(atime)
    &.active
      background colorRed
      color white

.counter
  mpd(0 0 15px, 0, flex)
  &-btn
    mpd(0, 10px)
    box-sizing border-box
    background colorYellow
    user-select none
    cursor pointer
    transAll(atime)
    &:active
      background colorRed
      color white
  &-input
    mpd(0, 5px)
    box-sizing border-box
    border 1px solid colorLGray
    text-align center
    line-height 1
    font-size 1em
    font-weight 500
    appearance none
    outline none
    background white
    width 80px


@keyframes tocart-anim
  0%
    bottom 0%
    transform scale(1)
  100%
    bottom 100%
    transform scale(0)

.tocart
  animation-name tocart-anim
  animation-duration 0.8s


.border
  &-lgray
    box-sizing border-box
    border 1px solid colorLGray

.bg
  &-gray
    background-color colorLGray
  &-yellow
    background-color colorYellow


.panel
  mpd(0, 15px 15px 0)
  background white
  box-shadow shadowDefault


.itext
  mpd(0 0 15px)
  font-weight 400
  font-size 1.2em


.color
  &-yellow
    color colorYellow
  &-green
    color colorGreen
  &-red
    color colorRed


.bold
  font-weight 700

.lbold
  font-weight 500


