// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.bg-1
  background-image url('../img/bg-1.jpg')
  background-position 50% 0%

.bg-2
  background-image url('../img/bg-12.jpg')
  background-position 50% 0%

.bg-3
  background-image url('../img/map.png')
  background-color white
  background-size auto 100%
  background-position 50% 50%

.bg-a
  background-image url('../img/bg-7.jpg')
.bg-b
  background-image url('../img/bg-8.jpg')
.bg-c
  background-image url('../img/bg-9.jpg')
.bg-d
  background-image url('../img/bg-10.jpg')
.bg-e
  background-image url('../img/bg-11.jpg')

.bgimg-a
  background-image url('../img/bg-2.jpg')
.bgimg-b
  background-image url('../img/bg-3.jpg')
.bgimg-c
  background-image url('../img/bg-4.jpg')
.bgimg-d
  background-image url('../img/bg-5.jpg')
.bgimg-e
  background-image url('../img/bg-6.jpg')

.home
  mpd()
  &-flex
    min-height 600px
    margin 25px 0



.popup-menu
  &-item
    margin-left 30%
    margin-bottom 20px
  .fancybox
    &-bg
      background colorYellow
      background-image url('../img/bg-menu.jpg')
      background-repeat no-repeat
      background-position 75% 100%
      padding 20px